dvc==3.63.0
dvc-data==3.16.12
dvc-gs==3.0.2
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
fsspec==2025.9.0
gcsfs==2025.9.0
joblib==1.5.2
pandas==2.3.3
pytest==8.4.2
scikit-learn==1.7.2
# requiremnts.txt
